<div class="container">
  <div class="row my-3">
    <div class="col text-center text-primary">
      <h3>Как работает education platform</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">1.</h3>
      <p class="text-center">
        <strong>
          Готов? Один клик и вперед.
        </strong>
      </p>
      <p class="text-justify">
        Выберите тему, чтобы заполнить вопросы репетитором и нажмите «Отправить». Затем мы ищем подходящего репетитора, который в настоящее время доступен для вас.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">2.</h3>
      <p class="text-center">
        <strong>
          Matching. Быстро и просто.
        </strong>
      </p>
      <p class="text-justify">
        Как только будет найден подходящий репетитор, вам будет показан его / ее профиль со всеми предлагаемыми предметами и фотографиями. Если вы и преподаватель подтвердите, вы попадете прямо в виртуальную комнату и сможете начать.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">3.</h3>
      <p class="text-center">
        <strong>
          Задавать вопросы. Доска и чат.
        </strong>
      </p>
      <p class="text-justify">
        Вы можете поговорить с репетитором через аудио, видео или чат. Вы также можете загрузить фотографию своей задачи, написать что-нибудь на виртуальной доске или поделиться своим экраном. После окончания сеанса вы можете заполнить небольшой отзыв. Спасибо!
      </p>
    </div>
  </div>
</div>
