<div class="container justify-content-center">
  <div class="row my-3">
    <div class="col text-center text-primary">
      <h3>Как работает Education Platform?</h3>
    </div>
  </div>

  <div class="row">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/#"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/><img src=https://img.youtube.com/ alt='education-platform video'><span>▶</span></a>"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="Education Platform"
        class="embed-responsive-item"
      ></iframe>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-4">
      <h3 class="text-primary text-center">1.</h3>
      <p class="text-center">
        <strong>
          Готов? Один клик и вперед.
        </strong>
      </p>
      <p class="text-justify">
        Просто нажмите кнопку «Помочь учащимся сейчас», чтобы показать учащимся, что вы готовы ответить на их вопросы.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">2.</h3>
      <p class="text-center">
        <strong>
          Matching. Быстро и просто.
        </strong>
      </p>
      <p class="text-justify">
        Как только у ученика возникнет вопрос по вашим предметам, вы получите записку о ученике (тип школы, класс и город) и предмете, по которому он обращается за помощью. Как только вы подтвердите, сеанс может начаться.
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">3.</h3>
      <p class="text-center">
        <strong>
          Уточнить вопросы. Доска и чат.
        </strong>
      </p>
      <p class="text-justify">
        Вы можете использовать виртуальную доску, чтобы уточнить ваши ответы и объяснения. Например, студент может отправить вам задание через чат. Вы также можете поделиться своим экраном или загрузить файлы для редактирования.
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md"></div>
  </div>
</div>
