<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div
        *ngIf="register && submitSuccess"
        class="alert alert-success text-center"
      >
        Спасибо за ваше обязательство!
        <strong>Пожалуйста, подтвердите ваш адрес электронной почты.</strong>
        Наша команда быстро обработает вашу регистрацию
        <strong
          >и активирует вас после непродолжительной проверки ваших данных.
        </strong>
        <br />
        И вы готовы пойти и помочь студентам напрямую :)
      </div>
      <div
        *ngIf="!register && submitSuccess"
        class="alert alert-success text-center"
      >
        Ваш профиль был обновлен!
      </div>
      <div *ngIf="error" class="alert alert-danger text-center">
        {{ error | json }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <form
        #teacherForm="ngForm"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <br />

        <div class="form-row">
          <div class="col-md">
            <div class="form-group form-label-group">
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
                placeholder="Имя"
              />
              <label for="firstName">Имя</label>
              <div class="invalid-feedback">
                <div *ngIf="f.firstName.errors?.required">
                  Вы должны указать имя
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group form-label-group">
              <input
                type="text"
                formControlName="lastName"
                class="form-control"
                placeholder="Фамилия"
              />
              <label for="lastName">Фамилия</label>
              <div class="invalid-feedback">
                <div *ngIf="f.lastName.errors?.required">
                  Вы должны указать фамилию
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md">
            <div class="form-label-group">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="E-Mail"
              />
              <label for="email">E-Mail</label>
              <div class="invalid-feedback">
                <div *ngIf="f.email.errors?.required">
                  Вы должны предоставить адрес электронной почты
                </div>
                <div *ngIf="f.email.errors?.email">
                  Это почта недействительна
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <p>Пол</p>

                  <div
                    *ngFor="let gender of genders"
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      class="custom-control-input"
                      type="radio"
                      [value]="gender.shortcode"
                      id="gender-{{ gender.shortcode }}"
                      formControlName="gender"
                    />
                    <label
                      class="custom-control-label"
                      for="gender-{{ gender.shortcode }}"
                      >{{ gender.gender }}</label
                    >
                  </div>

                  <div class="invalid-feedback">
                    <div *ngIf="f.gender.errors?.required">
                      Вы должны указать пол
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="state">Государство</label>
                <select
                  name="state"
                  class="form-control custom-select"
                  formControlName="state"
                >
                  <option *ngFor="let state of states" [value]="state.id">
                    {{ state.name }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  <div *ngIf="f.state.errors?.required">
                    Вы должны указать Государство.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="align-items-center align-middle text-center">
                <label for="imgUpload"
                  ><span *ngIf="register"
                    >Пожалуйста, загрузите изображение профиля здесь</span
                  >
                  <span *ngIf="!register">Фото профиля</span></label
                >
                <misc-img-upload
                  (img)="onImageChange($event)"
                  id="imgUpload"
                  [existingURL]="existingProfile"
                ></misc-img-upload>
                <!-- bootstrap will only display .invalid-feedback next to .is-invalid object -->
                <!-- HACK: -->
                <span
                  *ngIf="submitted && f.img.errors?.required"
                  class="is-invalid"
                ></span>
                <div class="invalid-feedback">
                  <div *ngIf="f.img.errors?.required">
                    Вы должны предоставить фото
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--        <div class="form-group">-->
<!--          <label for="schoolType"-->
<!--            >В каких школах / классах вы хотите помочь?</label-->
<!--          >-->
<!--          <div-->
<!--            *ngFor="-->
<!--              let schoolType of schoolTypesControl.controls;-->
<!--              let i = index-->
<!--            "-->
<!--            class="row"-->
<!--            style="min-height: 54px;"-->
<!--          >-->
<!--            <div-->
<!--              class="col-md-3 form-check custom-switch custom-control align-self-center"-->
<!--            >-->
<!--              <input-->
<!--                type="checkbox"-->
<!--                [formControl]="schoolType"-->
<!--                id="school-type-{{ schoolTypes[i].id }}"-->
<!--                name="schoolType"-->
<!--                class="form-check-input custom-control-input"-->
<!--                (click)="onSchoolTypeSelect(i)"-->
<!--              />-->
<!--              <label-->
<!--                class="form-check-label custom-control-label"-->
<!--                for="school-type-{{ schoolTypes[i].id }}"-->
<!--              >-->
<!--                {{ schoolTypes[i].name }}-->
<!--              </label>-->
<!--            </div>-->
<!--            &lt;!&ndash; isBrowser: https://github.com/angular-slider/ng5-slider/issues/66&ndash;&gt;-->
<!--            <div-->
<!--              *ngIf="isBrowser"-->
<!--              class="col-md-9 custom-slider"-->
<!--              [hidden]="!schoolType.value"-->
<!--            >-->
<!--              <ng5-slider-->
<!--                [options]="sliderOptions[i]"-->
<!--                [formControl]="sliderControl.controls[i]"-->
<!--                [manualRefresh]="sliderRefresh[i]"-->
<!--              ></ng5-slider>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="invalid-feedback">-->
<!--            <div *ngIf="f.schoolTypes.errors?.required">-->
<!--              Вы должны указать тип школы.-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="form-group">
          <label for="subjects"
            >Какими предметами вы владеете?</label
          >
          <div
            class="form-row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5"
          >
            <div
              *ngFor="let subject of subjectsControl.controls; let i = index"
              class="form-check col colored-select justify-self-center"
            >
              <input
                type="checkbox"
                [formControl]="subject"
                id="subject-{{ subjects[i].id }}"
                class="form-check-input"
                [value]="subjects[i]"
              />
              <label class="form-check-label" for="subject-{{ subjects[i].id }}"
                >{{ subjects[i].name }}
              </label>
            </div>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="f.subjects.errors?.required">
              Вы должны указать хотя бы один предмет.
            </div>
          </div>
        </div>

        <p *ngIf="register">Введите пароль (не менее 8 символов)</p>
        <p *ngIf="!register">Изменить пароль (не менее 8 символов)</p>
        <div class="form-row">
          <div class="col-md">
            <div class="form-group form-label-group">
              <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="Пароль"
                [required]="register"
              />
              <label for="password">Пароль</label>
              <div class="invalid-feedback">
                <div *ngIf="registerForm.errors?.passwordNotMatch">
                  Два пароля должны совпадать.
                </div>
                <div *ngIf="f.password.errors?.required">
                  Вы должны предоставить пароль
                </div>
                <div *ngIf="f.password.errors?.minlength">
                  Ваш пароль должен быть как минимум
                  {{ f.password.errors.minlength.requiredLength }} длинны
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group form-label-group">
              <input
                type="password"
                formControlName="passwordRepeat"
                class="form-control"
                placeholder="повторить пароль"
                [required]="register"
              />
              <label for="passwordRepeat">Повторить Пароль</label>
              <div class="invalid-feedback">
                <div *ngIf="registerForm.errors?.passwordNotMatch">
                  Два пароля должны совпадать
                </div>
                <div *ngIf="f.passwordRepeat.errors?.required">
                  Вы должны предоставить пароль
                </div>
                <div *ngIf="f.passwordRepeat.errors?.minlength">
                  Ваш пароль должен быть как минимум
                  {{ f.passwordRepeat.errors.minlength.requiredLength }} длинны
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="register" class="form-group">
          <label for="file"
            >Удостоверение личности / официальный документ с вашим именем (для проверки)</label
          >
          <p>
            <small
              >Защита студентов онлайн очень важна для нас. Поэтому, пожалуйста, загрузите здесь официальный документ с вашим именем, который мы будем использовать для проверки вас. Документ будет удален после вашей проверки.
            </small>
          </p>
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event)"
          />
          <!-- bootstrap will only display .invalid-feedback next to .is-invalid object -->
          <!-- HACK: -->
          <span *ngIf="submitted && f.file.errors" class="is-invalid"></span>
          <div class="invalid-feedback">
            <div *ngIf="f.file.errors?.required">
              Нам нужен файл здесь
            </div>
            <div *ngIf="f.file.errors?.fileTooLarge">
              Ваш файл слишком большой, максимум
              {{ f.file.errors.fileTooLarge.maxSize }}MB
            </div>
          </div>

        </div>

        <div *ngIf="register" class="form-group form-row">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              name="terms"
              id="terms"
              formControlName="terms"
              class="custom-control-input"
            /><label for="terms" class="custom-control-label"
              >Я принимаю
              <a routerLink="/terms" target="_blank">Условия и положения</a> и
              <a routerLink="/privacy" target="_blank">Защита данных</a>
              </label
            >
            <div class="invalid-feedback">
              <div *ngIf="f.terms.errors?.required">
                Вы должны принять условия.
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="(register && submitSuccess) || loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
</div>
