<div class="container">
  <h1 class="primary-color">Для студентов</h1>
  <p>
    Мы рады видеть тебя здесь!
  </p>
  <p>
    На Education Platform вы можете легко задать свои вопросы по любому предмету! Репетиторы рады помочь вам.
  </p>

  <p>
    Мы хотели бы предложить вам платформу, на которой вы можете быстро и легко получить доступ к сертифицированным преподавателям, которые ответят на ваши вопросы о школьном контенте с помощью видео- или аудиозвонков. Существует виртуальная доска и функция загрузки школьных документов, например, Задачи для наилучшего общения между вами и репетитором.
  </p>

  <p>
    Если вам нравится платформа, поделитесь ею с друзьями или Одноклассниками;)
  </p>

  <p>
    Желаем Вам успехов!
  </p>
  <small>
    PS: Пожалуйста, напишите нам, если у вас есть какие-либо предложения или запросы, которые все еще отсутствуют или могут быть улучшены на платформе.
    <a href="mailto:info@education-platform.by">
      info@education-platform.by
    </a>
  </small>
</div>
