<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="text-primary">Сбросить пароль</h2>
    <p>
      Почти готово. Теперь введите новый пароль, который вы хотите использовать для входа в будущем.
    </p>
    <div *ngIf="submitSuccess" class="alert alert-success text-center">
      Ваш пароль был успешно изменен
    </div>
    <div *ngIf="error" class="alert alert-danger text-center">
      {{ error | json }}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-label-group">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Passwort"
          class="form-control"
          formControlName="password"
          required
        />
        <label for="password">Passwort</label>
        <div class="invalid-feedback">
          <div *ngIf="form.errors?.passwordNotMatch">
            Два пароля должны совпадать.
          </div>
          <div *ngIf="f.password.errors?.required">
            Пожалуйста, введите пароль
          </div>
          <div *ngIf="f.password.errors?.minlength">
            Пароль должен быть не менее 8 символов
          </div>
        </div>
      </div>
      <div class="form-label-group">
        <input
          type="password"
          name="passwordRepeat"
          id="passwordRepeat"
          placeholder="Passwort wiederholen"
          class="form-control"
          formControlName="passwordRepeat"
          required
        />
        <label for="passwordRepeat">повторить пароль</label>
        <div class="invalid-feedback">
          <div *ngIf="form.errors?.passwordNotMatch">
            Два пароля должны совпадать.
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="submitSuccess || loading"
      >
        Отправить
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
      </button>
    </form>
  </div>
</div>
