<div *ngIf="requestType === 'teacher'">
  <div *ngIf="state === 'wait'">
    <div class="row">
      <div class="col">
        <p>
          Мы ищем подходящего студента для вас. Как только кто-то будет найден, Вам придет уведомление.
        </p>
      </div>

      <div class="row justify-content-center">
        <div class="col">
          <span
            class="spinner-border spinner-border-sm mr-1 text-primary text-xl"
          ></span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>

    <p>Мы нащли Вам студента:</p>
    <misc-user-card
      [user]="student"
      [match]="match"
      type="student"
    ></misc-user-card>

    <div *ngIf="state === 'maybe'">
      <hr />
      <div class="row">
        <p>Хочешь {{ match.student.firstName }} помочь?</p>
      </div>
      <div class="row">
        <div class="col-6">
          <button
            class="btn btn-primary btn-block"
            (click)="onMatchAccepted(true)"
          >
            А также
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-danger btn-block"
            (click)="onMatchAccepted(false)"
          >
            нет
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.student.firstName }} Принял соединение. Вы будете перенаправлены в ближайшее время.
      </div>

      <ng-template #pending>
        Warte bis, {{ match.student.firstName }} Также принял соединение.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>

<div *ngIf="requestType === 'student'">

  <div *ngIf="state === 'wait'">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="alert alert-primary">
          <strong
            >Пожалуйста, поговорите с нашими репетиторами. Это позволяет нам отвечать на ваши вопросы.</strong>
            <br>
            Разрешите <mark> доступ к вашему микрофону. </mark>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
          <p>
            Привет {{ user.firstName }}, пожалуйста подождите немного -<br />
            Мы ищем репетитора для Вас!
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Зависимость...</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="state !== 'wait'">
    <misc-audio-autoplay></misc-audio-autoplay>
    <div *ngIf="state === 'maybe'">
      <div class="row">
        <p>
          Хотите, чтобы наш {{ match.teacher.firstName }} ответил на Ваши вопросы?
        </p>
      </div>
      <div class="row">
        <div class="col-6">
          <button
            class="btn btn-primary btn-block"
            (click)="onMatchAccepted(true)"
          >
            А также
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-danger btn-block"
            (click)="onMatchAccepted(false)"
          >
            Нет
          </button>
        </div>
      </div>
    </div>
    <hr />
    <misc-user-card
      [user]="teacher"
      [match]="match"
      type="teacher"
    ></misc-user-card>

    <div *ngIf="state === 'accepted'">
      <div *ngIf="match.bothAccepted(); else pending">
        {{ match.teacher.firstName }} Принял соединение. Вы будете соединены в ближайшее время.
      </div>

      <ng-template #pending>
        Подождите пока, {{ match.teacher.firstName }} пока также примет соединение.
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </ng-template>
    </div>
  </div>
</div>
