<div class="row justify-content-center pb-5">
  <div class="col-9 text-center">
    <h3 class="my-3"></h3>
    <div class="embed-responsive embed-responsive-16by9">
<!--      <iframe-->
<!--        src="https://www.youtube.com/#"-->
<!--        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/#><img src=assets/img/video_thumbnail.png alt='education-platform'><span>&lt;!&ndash;▶&ndash;&gt;</span></a>"-->
<!--        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen-->
<!--        title="Education Platform | Платформа для онлайн обучения"-->
<!--        class="embed-responsive-item"-->
<!--      ></iframe>-->
    </div>
  </div>
</div>
