<div class="container">
  <h1 class="primary-color">Информация для родителей</h1>
  <p>
    Уважаемые родители, наша цель с Education Platform - предоставить вашим детям подходящего и полезного репетитора одним нажатием кнопки, если у них есть какие-либо вопросы по поводу школьных материалов. Наше соответствие гарантирует, что ваш ребенок связан с наиболее подходящим репетитором.
  </p>
  <p>
    Нынешняя ситуация с «домашним обучением» беспокоит многих. С Education Platform мы хотим поддержать вас как родителей и дать студентам ответы на их вопросы. Это снимает с вас напряжение в это стрессовое время.
  </p>
  <p>
    Безопасность и доверие важны для нас. По этой причине личность репетитора проверяется нами перед активацией. Кроме того, наши преподаватели проходят проверку с использованием системы оценки. Однако, особенно в начале, важно, чтобы вы сопровождали вашего ребенка при использовании Education Platform и демонстрировали, что он используется правильно.
  </p>

  <p>
    Пожалуйста, поделитесь нашим сайтом с друзьями, знакомыми, учителями и другими сетями. Каждый студент, которому мы можем помочь с этим проектом, приносит пользу нашему сообществу.
  </p>

  <p>
    Есть ли у вас какие-либо отзывы или вопросы? Напишите нам по адресу
    <a href="mailto:info@education-platform.by">info@education-platform.by</a> и наша команда позаботится о быстрой обратной связи.
  </p>

  <p>
    Желаем успехов
    <br />
    Команда Education Platform
  </p>
</div>
