<div *ngIf="!embedded">
  <h1 class="primary-color">Добро пожаловать</h1>
  <p class="lead">Рады приветствовать Вас, введите Ваши данные, чтобы войти в систему.</p>
</div>

<div *ngIf="error" class="alert alert-danger text-center">
  {{ error | json }}
</div>
<div *ngIf="user" class="alert alert-success text-center">
  Привет, {{ user.firstName }}, Теперь вы будете перенаправлены.
</div>

<div class="row justify-content-start">
  <div class="col-md-6">
    <form #loginFrom="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group">
        <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="E-Mail"
        />
        <label for="email">E-Mail</label>

        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            Вы должны ввести адрес электронной почты.
          </div>
          <div *ngIf="f.email.errors.email">
            Это не действительный адрес электронной почты.
          </div>
          <!-- Maybe more error messages -->
        </div>
      </div>

      <div class="form-label-group">
        <input
          type="password"
          name="password"
          class="form-control"
          formControlName="password"
          placeholder="Пароль"
        />
        <label for="password">Пароль</label>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Вы должны ввести пароль
          </div>
          <!-- Maybe more error messages -->
        </div>
        <a routerLink="../password-reset">Забыли пароль?</a>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="submitSuccess || loading"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Войти
      </button>
    </form>
    <p class="my-3">
      У вас нет аккаунта?
      <a *ngIf="embedded" [routerLink]="registerUrl">Зарегистрируйтесь сейчас</a>
      <span *ngIf="!embedded"
        >Зарегистрируйтесь здесь как
        <a routerLink="/account/teacher/register">Учитель</a> или
        <a routerLink="/account/student/register">Студент</a>.</span
      >
    </p>
  </div>
</div>
