  <div class="row">
    <div class="col-md-6">
      <h1 class="primary-color">
        Современная платформа для онлайн обучения с репетиторами.
      </h1>
      <p class="lead">
        Наши наставники находят простые ответы на сложные вопросы. И это очень просто и доступно для всех одним нажатием кнопки.
      </p>

      <div class="my-5"></div>
      <!-- TRYOUT -->
      <p class="text-center">
        У вас есть вопрос или вы хотите помочь в качестве репетитора? Начните прямо сейчас.
      </p>
      <div class="row">
        <div class="col-6">
          <a
            routerLink="/account/student/register"
            class="btn btn-primary btn-block"
            >Студент</a
          >
        </div>
        <div class="col-6">
          <a
            routerLink="/account/teacher/register"
            class="btn btn-primary btn-block"
            >Учитель</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
      <img
        src="assets/img/showcase.png"
        alt=" Produkt Showcase"
        class="img-fluid"
      />

    </div>
  </div>

  <home-more-information></home-more-information>


