<div class="container">
  <h1 class="primary-color">Для репетиторов</h1>
  <p>
    Уважаемый репетитор,
  </p>

  <p>
    Мы считаем, что это здорово, что вы хотите участвовать и помогать студентам.
      Все что тебе нужно:
  </p>

  <ul>
    <li>
      Знания, которые вы хотели бы передать
    </li>
    <li>
      Привлекательный внешний вид и веселье в работе с детьми
    </li>
    <li>
      Компьютер с веб-камерой и микрофоном; в лучшем случае планшет вокруг чтобы иметь возможность использовать виртуальную доску
    </li>
    <li>
      Тихое пространство и стабильный интернет
    </li>

    <li>
      Профиль репетитора:
      <a routerLink="/account/teacher/register">Зарегистрироваться</a>
    </li>
  </ul>

  <p>
    Как только вы отправите нам свой профиль, мы свяжемся с вами и пройдем процедуру подтверждения вас как наставника. Тогда вы можете начать прямо сейчас!
  </p>

  <p>
    Желаем Вам успехов!
    <br />
    С уважением, команда education platform
  </p>

  <small>
    PS: Пожалуйста, напишите нам, если у вас есть какие-либо предложения или запросы, которые все еще отсутствуют или могут быть улучшены на платформе.
    <a href="mailto:info@education-platform.by">
      info@education-platform.com
    </a>
  </small>
</div>
