<div *ngIf="accountType === 'teacher'" class="row justify-content-center">
  <div class="col-md-4">
    <a routerLink="/roulette/teacher">
      <button class="btn btn-primary text-light">Помогите студентам сейчас</button>
    </a>
  </div>
</div>
<div *ngIf="accountType === 'student'">
  <roulette-student></roulette-student>
</div>

<div *ngIf="accountType === 'teacher'" class="row mt-4">
  <div class="col">
    <p>
      Lorem
      <br />
      Lorem
    </p>
  </div>
</div>

<misc-teacher-explanation
  *ngIf="accountType === 'teacher'"
></misc-teacher-explanation>
<misc-student-explanation
  *ngIf="accountType === 'student'"
></misc-student-explanation>
