<div class="container">
  <h4>Вы можете изменить свой профиль здесь.</h4>
  <div *ngIf="!user.emailVerified" class="alert alert-danger text-center">
    Ваш адрес электронной почты еще не подтвержден! Пожалуйста, сделайте это, чтобы вы могли полностью использовать свой аккаунт.
    <br />
    <div *ngIf="!verifyResent">
      Не получили ссылку?
      <button (click)="resendLink()" class="btn btn-danger">
        Отправить еще раз
      </button>
    </div>
    <div *ngIf="verifyResent" class="text-success" #sent>
      <strong>Ссылка была успешно отправлена</strong>
    </div>
  </div>
  <account-student-form
    *ngIf="user.studentdata != null"
    [register]="false"
  ></account-student-form>
  <account-teacher-form
    *ngIf="user.teacherdata !== null"
    [register]="false"
  ></account-teacher-form>
</div>

<hr />
<div class="container">
  <h4>безопасность</h4>
  <p>
    Если вы чувствуете, что кто-то еще вошел в вашу учетную запись, и вы хотите убедиться, что только вы вошли в систему, используйте эту кнопку.
  </p>
  <p>
    Затем вы должны войти снова на всех устройствах. <br/>
         Мы также рекомендуем вам изменить свой <strong> пароль </strong>.
  </p>

  <button class="btn btn-danger" (click)="logoutAll()">
    Выйти из всех устройств
  </button>
</div>
