<hr />
<div class="spacer"></div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md">
      <a routerLink="/">
        <img
          src="assets/img/Logo.png"
          alt="education logo"
          class="img-fluid"
          style="width: 150px;"
        />
      </a>
    </div>
    <div class="col-6 col-md">
      <h5>Навигация</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="/teachers" class="text-muted">Учителям</a></li>
        <li><a routerLink="/students" class="text-muted">Студентам</a></li>
        <li><a routerLink="/parents" class="text-muted">Родителям</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Ресурсы</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="/support" class="text-muted">Помощь и поддержка</a></li>
        <li><a routerLink="/feedback" class="text-muted">Обратная связь</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Компания</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="terms" class="text-muted">Условия и положения</a></li>
        <li><a routerLink="privacy" class="text-muted">Конфиденциальность</a></li>
        <li><a routerLink="about" class="text-muted">О нас</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">

    </div>
  </div>
</div>
